* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding-top: 1%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 2% 10%;
    gap: 1rem;
}

figure {
    img {
        height: 100%;
        width: 100%;
    }

    &#one {
        grid-column: 1/3;
    }

    &#five {
        grid-area: 2 / 2 / 4 / 3;
    }

    &#six {
        grid-area: 2 / 3 / 3 / 5;
    }
}
